server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/carryhub
    username: carryhub
    password: carryhub123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: redis
      port: 6379

  web:
    resources:
      static-locations: classpath:/static
jwt:
  secret: carryhub-ultra-secure-jwt-signing-key-2025-abcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()
  expiration: 86400000